@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '_vars';

body {

	a, a:link, a:visited, a:hover, a:active { cursor: pointer !important; }

	.navbar-fixed-top {
		position: relative;
		margin-bottom: 35px;
	}

	.btn { outline: none !important; }

	.badge {
		margin-left: 8px;
		margin-top: 1px;
		border-radius: 100px;
		padding: 6px;
	}

	.close {
		outline: none;
		margin-bottom: 15px;
		margin-left: 15px;
	}

	.modal {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	&.modal-open {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}

	select {
		option { color: $text-color; }
		option:empty { display: none; }
		&.empty { color: #C0C0C0; }
	}

	textarea.form-control {
		resize: none;
		height: 100px !important;
		min-height: 100px !important;
		max-height: 100px !important;
	}

	.form-group {
		margin: 5px;
	}
}
@import '_vars';

.defaultOverflow {
	overflow-y: scroll;
	overflow-x: hidden;
}

.noOverflow {
	overflow: hidden;
}

.no_selection {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.activeElemIcon {
	margin-top: 3px;
}

.truncated {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.transparent {
	visibility: hidden;
}

.dimmed {
	opacity: 0.5;
}

.hideFrom992 {
	@media only screen and (min-width: 992px) { display: none !important; }
}

.showFrom992 {
	@media only screen and (max-width: 991px) { display: none !important; }
}

.marginBottomSmall {
	margin-bottom: 10px;
}

.fixedCentered, .absCentered {

	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	display: flex !important;
	align-items: center !important;
	width: 100% !important;
	height: 100% !important;
}

.fixedCentered {
	position: fixed !important;

}

.absCentered {
	position: absolute !important;
}
$avatarSize: 240px;
.main-with-aside-1 {

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-top: 25px;

	@media only screen and (min-width: 992px) { flex-flow: row nowrap; }

	> div:first-child {

		display: flex;
		flex-flow: row wrap;
		flex-basis: 30%;
		justify-content: center;
		align-content: flex-start;

		margin-bottom: 25px;

		> div { flex-grow: 1; padding: 0 15px 0 15px; }
	}

	> div:last-child {

		flex-basis: 650px;
	}
}
#lost-and-found-app-contact {


}
#lost-and-found-app-guest {

	#infoSection {

		> div {
			text-align: center;
			@media only screen and (min-width: 768px) { text-align: left; }
		}
	}

	#formSection {

		.myTabs { max-width: 450px; }
		.myForm { max-width: 300px; }
		.myTabs, .myForm { margin: 50px auto; }
		.userBadge { margin-bottom: 50px; }
	}
}
#lost-and-found-app-item {

	#section1, #section2, #section3 { margin-bottom: 50px; }

	#section1 {

		display: flex;
		@media only screen and (max-width: 767px) { flex-flow: row wrap; }

		> div:last-child { margin: 10px; }

		> div:first-child {
			display: flex;
			flex-flow: row wrap;
			> div { margin: 10px; }
		}

		@media only screen and (min-width: 768px) {
			> div:first-child { flex-basis: 35%; }
			> div:last-child { flex-basis: 65%; }
		}

		#descriptionSection {
			text-align: justify;
		}

		span.text-info, span.text-warning { font-weight: bold; }
	}

	#section2 {
		.myGoogleMap {
			@media only screen and (max-width: 767px) { margin: 0 auto; }
		}
	}

	#section3 {

	}
}
#lost-and-found-app-main {

	min-height: 1000px;
	padding-bottom: 50px;

	.container-fluid {
		max-width: 950px;
	}

	#underNavbarPanel {

		display: flex;
		padding: 0;
		margin: 0 0 50px 0;

		> div {
			.userAvatar {

				display: flex;
				align-items: center;
				margin: 5px 0 5px 0;

				> div {
					padding: 0 5px 0 5px;
					.mySrc {
						img { @extend .tinyAvatarSize; }
						.srcLabel {
							width: 60px;
						}
					}
				}
			}
		}
	}

	.myGoogleMap {
		border: 1px solid;
		max-width: 300px;
		min-height: 300px;
		height: 300px;
	}
}
#lost-and-found-app-profile {

	#userSection {

		display: flex;
		flex-flow: row wrap;

		@media only screen and (max-width: 767px) {
			justify-content: center;
		}

		> div { padding: 10px 10px 0 10px; }

		table {

			td {
				padding: 0;
				span { white-space: nowrap; }
				span.text-info { font-weight: bold; }
			}
		}

		.userAvatar {
			.mySrc { img { @extend .smallAvatarSize; } }
		}
	}
}
#lost-and-found-app-search {


}
#lost-and-found-app-settings {

	#dropdownSection {
		@media only screen and (min-width: 700px) { display: none; }
	}

	#mainSection {
		display: flex;

		> div {
			flex-grow: 1;
			padding: 5px;
		}

		> div:first-child {
			flex-basis: 35%;
			@media only screen and (max-width: 699px) { display: none; }
		}

		> div:last-child {
			flex-basis: 65%;
		}
	}

	.myTabs { margin-bottom: 50px; }
	.myForm { max-width: 300px; }
	.myForm, .mySrc { margin: 0 auto; }
}
#auctionNumBox {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;

	.well {

		padding: 5px 10px 5px 10px;
		margin: 2px;
		border: 2px solid $brand-info;

		span {
			display: block;
			white-space: nowrap;
			margin: 2px 5px 2px 5px;
			line-height: 18px;
		}
	}
}
.comments {

	.myTextArea {
		max-width: 700px;
		margin: 0 auto;
	}

	.userAvatar {
		> div {
			.mySrc {
				img {
					@extend .tinyAvatarSize;
				}
			}
		}
	}
}
.myAlert {
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
}
.myBtn {
	padding: 7px 15px 7px 14px;
}

.myBtnsGroup {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.myBtnsGroupCenter {

	@extend .myBtnsGroup;
	margin: 0 auto;
}

.myBtnsGroupRight {

	@extend .myBtnsGroup;
	margin-left: auto;
	margin-right: 0;
}
.myCollectionBrowser {

	position: relative;

	.ctrls {

		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		align-content: flex-start;

		width: 100%;
		padding: 0 15px 15px 15px;

		> div.myPager {}

		> div.refresher {

			.glyphicon-refresh {
				top: 2px;
			}
		}
	}

	.collection {

		> div {
			> * {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;

				.myCollectionElem {
					margin: 5px;
				}
			}
		}
	}
}
.myCollectionElem {

	margin: 10px auto;
	border: 2px solid transparent;
	border-radius: 5px;
	&.isSelected { border: 2px solid; }

	.panel-default { border: 0 !important; }
	.panel-heading {}

	#bodySection {

		display: flex;
		justify-content: center;

		@media only screen and (max-width: 599px) { flex-flow: row wrap; }

		#actionSection {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			> * { margin: 0 0 10px 0; }
		}

		#mainSection {

			display: flex;
			justify-content: center;
			flex-flow: row wrap;

			@media only screen and (min-width: 768px) {
				flex-flow: column wrap;
			}

			> div { margin: 5px 10px 5px 10px; }

			#infoSection {
				text-align: center;
				font-size: 14px;
				margin-bottom: 10px;
				p { margin: 0; }
			}

			#avatarSection {
				.mySrc {
					img { width: 150px; height: 100px; object-fit: cover; }
				}
			}
		}
	}
}
.myContextMenu {

	position: relative;

	button {
		width: 28px;
		height: 28px;
		border: 0;

		span {
			top: -4px;
			left: -8px;
		}
	}

	.dropdown-menu {
		min-width: 50px;
		left: auto;
		right: 50%;
		transform: translate(16px, -31px);
	}
}
.myDropDown {

	.dropdown-menu {

		overflow-y: auto;
		min-width: 100px;
		max-height: 282px;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
	}
}
.myElemSelector {

	button {
		width: 28px;
		height: 28px;
		padding: 0;
		border: 0;
	}

	.glyphicon-ok {
		font-size: 13px;
		color: $text-color;
	}
}
.myFormContainer {

	position: relative;

	.myForm {

		position: relative;

		input, select {
			max-width: 300px;
		}

		input, textarea {
			padding: 10px;
		}

		input, select, textarea {
			margin: 5px 0 5px 0;
		}

		select {
			padding: 5px;
		}

		textarea {
			min-height: 200px;
		}

		.myLabel.text-info {
			margin-top: 10px;
			margin-bottom: 0;
		}

		.myBtnsGroup {
			margin-top: 25px;
		}
	}
}
.myFormErrorIcon {
	margin-left: 3px;
	font-size: 20px;
}
.myInput {


}
.myLabel {

	padding: 1px;
}
@import '_vars';

.myListGroup {

	.list-group-item.active {}

	.list-group-item:hover {
		//background-color: $body-bg;
	}

	.list-group-item:focus {
		//background-color: $body-bg;
	}
}
.myLoader {

	position: relative;
	left: 0;
	right: 0;
	padding: 50px;

	.sk-circle {
		position: relative;
		margin: 0 auto;
		width: 65px;
		height: 65px;
	}
	.sk-circle .sk-child {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.sk-circle .sk-child:before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 16%;
		height: 16%;
		background-color: $brand-primary;
		border-radius: 100%;
		-webkit-animation: sk-circleBounceDelay 1s infinite ease-in-out both;
		animation: sk-circleBounceDelay 1s infinite ease-in-out both;
	}
	.sk-circle .sk-circle2 {
		-webkit-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);
	}
	.sk-circle .sk-circle3 {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	.sk-circle .sk-circle4 {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.sk-circle .sk-circle5 {
		-webkit-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		transform: rotate(120deg);
	}
	.sk-circle .sk-circle6 {
		-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
		transform: rotate(150deg);
	}
	.sk-circle .sk-circle7 {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.sk-circle .sk-circle8 {
		-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
		transform: rotate(210deg);
	}
	.sk-circle .sk-circle9 {
		-webkit-transform: rotate(240deg);
		-ms-transform: rotate(240deg);
		transform: rotate(240deg);
	}
	.sk-circle .sk-circle10 {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	.sk-circle .sk-circle11 {
		-webkit-transform: rotate(300deg);
		-ms-transform: rotate(300deg);
		transform: rotate(300deg);
	}
	.sk-circle .sk-circle12 {
		-webkit-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		transform: rotate(330deg);
	}
	.sk-circle .sk-circle2:before {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.sk-circle .sk-circle3:before {
		-webkit-animation-delay: -1s;
		animation-delay: -1s;
	}
	.sk-circle .sk-circle4:before {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	.sk-circle .sk-circle5:before {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
	.sk-circle .sk-circle6:before {
		-webkit-animation-delay: -0.7s;
		animation-delay: -0.7s;
	}
	.sk-circle .sk-circle7:before {
		-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}
	.sk-circle .sk-circle8:before {
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
	.sk-circle .sk-circle9:before {
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}
	.sk-circle .sk-circle10:before {
		-webkit-animation-delay: -0.3s;
		animation-delay: -0.3s;
	}
	.sk-circle .sk-circle11:before {
		-webkit-animation-delay: -0.2s;
		animation-delay: -0.2s;
	}
	.sk-circle .sk-circle12:before {
		-webkit-animation-delay: -0.1s;
		animation-delay: -0.1s;
	}

	@-webkit-keyframes sk-circleBounceDelay {
		0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		}
	}

	@keyframes sk-circleBounceDelay {
		0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		}
	}
}
@import '_vars';

.myModal {

	text-align: left;

	.modal-dialog {
		display: table;
		margin: 15px auto;
	}

	.modal-header {
		h4 {
			font-weight: bold;
			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-all;
			word-break: break-word;
			hyphens: auto;
		}
	}

	.modal-title {}

	.modal-body {
	    max-height: calc(100vh - 180px);
	    overflow-y: auto;
	    img { width: 150px; }
	}

	.modal-footer {
		.btn { margin: 0; }
	}

	&.modalSlideInFromLeft {
		&.modal.fade:not(.in) .modal-dialog {
		    -webkit-transform: translate3d(-25%, 0, 0);
		    transform: translate3d(-25%, 0, 0);
		}
	}

	.myForm {
		margin: 0 auto;
	}
}



.wideModal {
	.modal-dialog {
		@media only screen and (min-width: 768px) { width: 720px; }
		@media only screen and (min-width: 900px) { width: 850px; }
	}
}

.responsiveImgAndDesc {

	display: table;
	width: 100%;

	img { max-width: 200px; }

	> div {

		display: table-cell;
		vertical-align: top;

		p {
			margin: 25px;
			text-align: justify;
		}
	}

	> div:first-child { text-align: center; }
	@media only screen and (max-width: 600px) { > div { display: block; } }
}
.myNavMenu {


}
.myPanel {

	.panel-default {}

	.panel-heading {
		display: flex;
		align-items: center;
		min-height: 41px;
		padding: 5px 15px 5px 15px;

		#titleSection {
			flex-grow: 1;
			font-weight: bold;
			line-height: 18px;
  			padding-right: 15px;
  			a { color: $link-color; }
  			.glyphicon { top: 2px; }
		}

		#actionSection {
			> * {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
		}
	}

	.panel-body {
		position: relative;
		margin: 0 auto;
	}
}
.myPopOverIcon {

	display: table;
	border-radius: 3px;

	> div {

		display: table-cell;
		vertical-align: middle;

		> span {

			display: table;
			margin: 0 auto;
			text-align: center;

			&.glyphicon {

				display: table;
				width: 28px;
				height: 28px;
				position: relative;
				padding-top: 7px;
				padding-left: 1px;
				font-size: 15px;
				color: $gray-lighter;
			}
		}
	}

	.popover-content {}

	.glyphicon-play {
		top: 0 !important;
	}
}
.mySelect {


}
.mySelectsGroup {


}
.mySrc {

	$srcCtrlsMargin: 10px;

	position: relative;
	display: table;
	margin: 0 auto;

	a.linkDisabled {
		cursor: default !important;
	}

	img {
		margin: 0;
	}

	.imgContainer {
		border-radius: 3px;
		overflow: hidden;
	}

	.srcLabel {
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}

	.srcCtrls {

		.myElemSelector, .myContextMenu {
			position: absolute;
			top: $srcCtrlsMargin;
		}

		.myElemSelector { left: $srcCtrlsMargin; }
		.myContextMenu { right: $srcCtrlsMargin; }
	}

	.isSelected {
		background-color: black;
		img { opacity: 0.3; }
	}

	.myLoader {
		padding: 0;
		.sk-circle { width: 40px; height: 40px; }
	}
}
.mySrcSlides {

	.carousel {

		.carousel-control {}

		.carousel-inner {

			> div {

				display: table;
				margin: 0 auto;

				.mySrc {

					img {
						max-width: 100%;
						max-height: calc(100vh - 300px);
						overflow-y: auto;
					}

					.thumbnail {
						padding: 1px;
						border-radius: 0;
					}
				}
			}
		}
	}

	.carousel-indicators {

		position: relative;
		top: 0;

		li {
			margin-left: 1px;
			margin-right: 1px;
			border-radius: 1px;
			width: 15px;
			height: 15px;
		}

		li.active {
			position: relative;
			top: -1px;
		}
	}
}
.mySrcThumbs {

	position: relative;
	padding: 15px 0 15px 0;

	#contextMenuContainer {
		position: absolute;
		top: -50px;
		right: 0;
	}

	#allSrcsContainer {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		div.singleSrcContainer {
			margin: 3px;
		}
	}

	.myModal {

		img {
			width: auto;
		}

		.close {
			color: $gray-lighter;
		}

		.modal-dialog {

		}

		.modal-content {
			color: $gray-lighter;
			background-color: black;
		}
	}
}
.myTabs {

	.nav-tabs {}
	.tab-content {}

	.nav-tabs > li > a {
		//background-color: $body-bg;
	}

	.nav-tabs > li > a:hover {}

	h5 {
		margin-left: 10px;
		margin-right: 10px;
	}
}
.myTextArea {


}
.itemAvatar {

	.mySrc {
		img { width: 200px; object-fit: cover; }
	}
}
.itemIconMenu {

	> div {
		display: table-cell;

		&.public {
			.myPopOverIcon {
				//background-color: $brand-info;
				.glyphicon { color: $gray-dark; }
			}
		}

		&.private {
			//.myPopOverIcon { background-color: $brand-danger; }
		}

		&.own {
			//.myPopOverIcon { background-color: $brand-success; }
		}

		&.subscribed {
			//.myPopOverIcon { background-color: $brand-primary; }
		}
	}
}
.itemPhotos {

	img {
		max-width: 200px;
		max-height: 200px;
	}
}
.items {

	#actionBtns { margin-bottom: 25px; }

	.myCollectionElem {
		background-color: $brand-danger;
	}

	.isFound {
		.myCollectionElem {
			background-color: $brand-success;
		}
	}
}
.userAvatar {

	display: table;
	margin: 0 auto;

	.mySrc {
		.srcLabel {
			margin-top: 3px;
		}
	}
}

.defaultAvatarSize {
	width: 200px;
	height: 200px;
}

.smallAvatarSize {
	width: 150px;
	height: 150px;
}

.tinyAvatarSize {
	width: 60px;
	height: 60px;
}
@import '_vars';

.userBadge {

	position: relative;
	display: table;
	margin: 0 auto;
	padding: 15px;

	.mySrc { img { @extend .defaultAvatarSize; } }
}
#singleFileInput, #multipleFilesInput {

	display: none;
}
#contactForm {

	.myForm {

		margin: 0 auto;
		max-width: 400px;
		@media only screen and (min-width: 768px) { max-width: 600px; }

		.mySelect { display: table; }
		.myTextArea { textarea { min-height: 300px !important; } }
	}
}
#itemForm {

	.myForm {

		.formCtrls {

			> div:first-child {

				display: flex;
				justify-content: space-around;

				@media only screen and (max-width: 600px) {
					flex-flow: row wrap;
				}

				> div {

					margin: 5px;
					flex-basis: 100%;

					.mySelectsGroup > div {
						.mySelect {}
					}
				}
			}

			> div:last-child {

				margin: 5px;

				textarea {
					max-width: 600px;
					min-height: 175px !important;
					text-align: justify;
				}
			}
		}
	}

	#map {
		height: 300px;
		border: 1px solid;
	}
}
#itemSearchForm {

	.myForm {

		.myBtnsGroup {
			margin-left: 25px;
			margin-right: 25px;
		}

		> div {
			display: table;
			margin: 0 auto;
		}

		@media only screen and (min-width: 450px) {

			> div, .mySelectsGroup > div {
				display: flex;
				justify-content: center;
				flex-flow: row wrap;
			}

			select { min-width: 125px; }
		}

		@media only screen and (min-width: 992px) {
			margin: 0 25px 0 25px;
		}
	}
}
#imgCropWindow {

	img { max-width: 100%; }
	input { display: none; }

	.modal-body { position: relative; max-height: calc(100vh - 275px); }
	//.myLoader { background-color: white; }

	#modalHeader {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		> div {
			flex-grow: 1;
			align-content: center;
		}
	}

	#cropImgContainer {
		height: 350px;
		> * { margin: 0 auto; }
	}

	#alertContainer {
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;

		.myAlert {
			margin: 50px auto;
		}
	}
}