.myComments {

	.myForm {
		.myLabel.text-info {
			margin-top: 0 !important;
		}
	}

	.myCollectionBrowser {

		.ctrls { justify-content: flex-end; }

		.myCollectionElem {

			font-size: 14px;

			.myPanel {
				.panel-heading {
					display: none ;
				}
			}

			#bodySection {

				#actionSection {}

				#mainSection {

					display: flex;
					flex-direction: column-reverse;
					justify-content: flex-end;

					@media only screen and (min-width: 600px) {
						flex-direction: row-reverse;
					}

					> div {
						margin: 5px;
					}

					#infoSection {

						flex-grow: 1;
						text-align: justify;
					}

					#avatarSection {

						.userAvatar {
							> div { .mySrc { img { @extend .tinyAvatarSize; } } }
						}
					}
				}

				#bottomSection {}
			}
		}
	}
}