#myDropDown {

	button {
		font-size: 14px;
		padding: 5px 10px 5px 10px;
		min-width: 80px;
	}

	.dropdown-menu {

		overflow-y: auto;
		font-size: 14px;

		min-width: 100px;
		max-height: 282px;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
	}
}