.myBtn {
	padding: 7px 15px 7px 14px;
}

.myBtnsGroup {

	display: flex;
	flex-flow: row wrap;
}

.myBtnsGroupCenter {

	@extend .myBtnsGroup;
	justify-content: center;
}

.myBtnsGroupRight {

	@extend .myBtnsGroup;
	justify-content: flex-end;
}