<div id="reportForm">
	<my-form ins="myForm" ng-if="action != 'respondToReport'">
		<my-panel transparent-heading="true" >
			<heading-text>
				<span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="::hardData.sections[16]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-input
							ctrl-id="myForm.ctrlId + '_title'"
							ctrl-type="'text'"
							ctrl-max-length="50"
							model="myForm.model.title"
							hard-data="{ label: ['labels', 22] }"
						></my-input>
						<my-selects-group collection="hardData.reportCategories">
							<my-select
								ctrl-id="myForm.ctrlId + '_category1'"
								collection=""
								model="myForm.model.category1"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hard-data="{ label: ['labels', 12], placeholder: ['imperatives', 18] }"
							></my-select>
							<my-select
								ctrl-id="myForm.ctrlId + '_category2'"
								collection=""
								nested-collection-field-name="'subcategories'"
								model="myForm.model.category2"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hide-errors="true"
								hard-data="{ placeholder: ['imperatives', 18] }"
							></my-select>
							<my-select
								ctrl-id="myForm.ctrlId + '_category3'"
								collection=""
								nested-collection-field-name="'subcategories'"
								model="myForm.model.category3"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hide-errors="true"
								hard-data="{ placeholder: ['imperatives', 18] }"
							></my-select>
						</my-selects-group>
					</div>
					<div>
						<my-input
							ctrl-id="myForm.ctrlId + '_serialNo'"
							ctrl-type="'text'"
							ctrl-max-length="50"
							model="myForm.model.serialNo"
							hard-data="{ label: ['labels', 20] }"
						></my-input>
						<my-text-area
							ctrl-id="myForm.ctrlId + '_description'"
							ctrl-max-length="1000"
							model="myForm.model.description"
							hard-data="{ label: ['labels', 10] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<my-panel transparent-heading="true">
			<heading-text>
				<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="::hardData.sections[15]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-select
							ctrl-id="myForm.ctrlId + '_startEvent_type'"
							collection="hardData.reportTypes"
							model="myForm.model.startEvent.type"
							prop-names="{ optionValue: 'value', optionLabel: 'label' }"
							option-zero="true"
							hard-data="{ label: ['labels', 16], placeholder: ['imperatives', 18] }"
						></my-select>
						<my-date-input
							ctrl-id="myForm.ctrlId + '_startEvent_date'"
							ctrl-min-value="minDate"
							ctrl-max-value="currentDate"
							model="myForm.model.startEvent.date"
							hard-data="{ label: ['labels', 15] }"
							is-required="true"
						></my-date-input>
						<my-google-place-auto-complete
							ctrl-id="myForm.ctrlId + '_startEvent_address'"
							model="myForm.model.startEvent.address"
							hard-data="{ label: ['labels', 17] }"
							autocomplete="autocomplete"
						></my-google-place-auto-complete>
					</div>
					<div>
						<my-text-area
							ctrl-id="myForm.ctrlId + '_startEvent_details'"
							ctrl-max-length="1000"
							model="myForm.model.startEvent.details"
							hard-data="{ label: ['labels', 19] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<br>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
	<my-form ins="myForm" ng-if="action == 'respondToReport'">
		<my-panel transparent-heading="true">
			<heading-text>
				<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="::hardData.sections[15]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-date-input
							ctrl-id="myForm.ctrlId + '_endEvent_date'"
							ctrl-min-value="minDate"
							ctrl-max-value="currentDate"
							model="myForm.model.date"
							hard-data="{ label: ['labels', 15] }"
							is-required="true"
						></my-date-input>
						<my-google-place-auto-complete
							ctrl-id="myForm.ctrlId + '_endEvent_address'"
							model="myForm.model.address"
							hard-data="{ label: ['labels', 17] }"
							autocomplete="autocomplete"
						></my-google-place-auto-complete>
					</div>
					<div>
						<my-text-area
							ctrl-id="myForm.ctrlId + '_endEvent_details'"
							ctrl-max-length="1000"
							model="myForm.model.details"
							hard-data="{ label: ['labels', 19] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<br>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>