#reportForm {

	.myForm {

		margin: 0 auto;
		max-width: 400px;
		@media only screen and (min-width: 768px) { max-width: 600px; }

		.mySelect { display: table; }
		.myTextArea { textarea { min-height: 300px !important; } }
	}
}