.myPopOverIcon {

	display: table;
	border-radius: 3px;

	> div {

		display: table-cell;
		vertical-align: middle;

		> span {

			display: table;
			margin: 0 auto;
			text-align: center;

			&.glyphicon {

				display: table;
				width: 28px;
				height: 28px;
				position: relative;
				padding-top: 7px;
				padding-left: 1px;
				font-size: 15px;
				color: $gray-lighter;
			}
		}
	}

	.popover-content {}

	.glyphicon-play {
		top: 0 !important;
	}
}