<div id="mySelect" class="myFormCtrl" ng-show="collection" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<select
		id="{{ ctrlId }}"
		class="form-control"
		ng-class="{ empty: !model.value.active }"
		ng-model="model.value.active"
		ng-change="onSelect()"
	>
		<option ng-if="optionZero" value="" selected>{{ placeholder + ' ...' || '...' }}</option>
		<option
			ng-if="propNames"
			ng-repeat="elem in collection"
			ng-bind="elem[propNames.optionLabel]"
			value="{{ elem[propNames.optionValue] }}"
		></option>
		<option
			ng-if="!propNames"
			ng-repeat="(key, value) in collection"
			ng-bind="value"
			value="{{ key }}"
		></option>
	</select>
</div>