<div id="passwordForm">
	<my-form ctrl-id="passwordForm" ins="myForm">
		<my-input
			ctrl-id="'passwordForm_current'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.current"
			hard-data="{ label: ['labels', 3] }"
		></my-input>
		<my-input
			ctrl-id="'passwordForm_password'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.password"
			hard-data="{ label: ['labels', 4] }"
		></my-input>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>