.itemIconMenu {

	> div {
		display: table-cell;

		&.public {
			.myPopOverIcon {
				background-color: $brand-info;
				.glyphicon { color: $gray-dark; }
			}
		}

		&.private {
			.myPopOverIcon { background-color: $brand-danger; }
		}

		&.own {
			.myPopOverIcon { background-color: $brand-success; }
		}

		&.subscribed {
			.myPopOverIcon { background-color: $brand-primary; }
		}
	}
}