<div class="mySrcSlides">
	<ol class="carousel-indicators" ng-if="mySrcCollection.collection.length > 1">
		<li
			ng-repeat="switcher in mySwitchable.switchers"
			ng-click="switcher.activate()"
			data-target="#myCarousel"
			data-slide-to="{{ $index }}"
			ng-class="{ active: switcher._id == mySwitchable.activeSwitcherId }"
		></li>
	</ol>
	<div id="myCarousel" class="carousel" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div
				ng-repeat="switcher in mySwitchable.switchers"
				ng-show="switcher._id == mySwitchable.activeSwitcherId"
			>
				<my-src
					ins="mySrcCollection.collection[$index]"
					type="{{ srcType }}"
					href-target="_blank"
				></my-src>
			</div>
			<div class="carousel-caption"></div>
		</div>
		<div ng-if="mySrcCollection.collection.length > 1">
			<a class="left carousel-control" role="button" ng-click="mySwitchable.activateSwitcher('prev')">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" role="button" ng-click="mySwitchable.activateSwitcher('next')">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>