<div class="myCollectionBrowser">
	<div>
		<div id="basicCtrls">
			<div id="frontCtrls" ng-transclude="frontctrls"></div>
			<div ng-if="ins.filterer">
				<my-drop-down ins="ins.filterer" open-direction="'down'"></my-drop-down>
			</div>
			<div ng-if="ins.sorter && ins.collection.length > 0">
				<my-drop-down ins="ins.sorter" open-direction="'down'"></my-drop-down>
			</div>
			<div ng-if="ins.orderer && ins.collection.length > 0">
				<my-drop-down ins="ins.orderer" open-direction="'down'"></my-drop-down>
			</div>
			<div class="myPager" ng-show="ins.pager.switchers.length > 1">
				<my-drop-down ins="ins.pager" open-direction="'down'" ctrl-class="'btn-warning'"></my-drop-down>
			</div>
			<div class="refresher" ng-hide="ins.hideRefresher || !ins.refresher">
				<my-btn
					btn-class="[['btn-info']]"
					icon-class="[['glyphicon glyphicon-refresh']]"
					hard-data="{ label_0_0: ['imperatives', 19] }"
					on-click="ins.onRefreshClick()"
				></my-btn>
			</div>
			<div id="endCtrls" ng-transclude="endctrls"></div>
		</div>
		<div id="extraCtrls" ng-transclude="extractrls"></div>
	</div>
	<div id="collectionContainer">
		<div ng-class="{ halfTransparent: ins.loader.isLoading }" ng-show="ins.collection.length > 0">
			<br />
			<div ng-transclude="elems"></div>
			<br />
			<my-scroll-top-btn ng-if="!noScrollTopBtn && ins.collection.length >= 5" ng-show="ins.pager"></my-scroll-top-btn>
			<br />
		</div>
		<my-loader ng-show="ins.loader.isLoading"></my-loader>
	</div>
</div>