#reports {

	#actionBtns { margin-bottom: 25px; }

	#myCollectionBrowser {

		#collectionContainer {
			> div {
				> div {
					> * {

						display: flex;
						flex-flow: row wrap;
						justify-content: center;
						align-items: flex-end;

						> * {

							flex-basis: 31%;
							flex-grow: 1;
							max-width: 400px;
							margin: 5px;

							@media only screen and (min-width: 600px) {
								max-width: 250px;
							}
						}
					}
				}
			}
		}

		#myPanel {

			background-color: $brand-danger;
			min-width: 200px;

			#bodySection {

				> * {

					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: row wrap;

					#infoSection {
						text-align: center;
						font-size: 14px;
						margin: 5px 10px 5px 10px;
						p { margin: 0; }
						span { white-space: nowrap; }
					}

					#avatarSection {
						#mySrc {
							margin: 5px 10px 5px 10px;
							img { width: 150px; height: 100px; object-fit: cover; }
						}
					}
				}
			}
		}

		.isFound { #myPanel { background-color: $brand-info; } }
	}
}