<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="fragment" content="!" />
	</head>
	<body>
		<div id="lost-and-found-app-search">
			<my-panel>
				<title-section>
					<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
					<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
				</title-section>
				<body-section>
					<report-search-form></report-search-form>
				</body-section>
			</my-panel>
			<div style="height: 50px;"></div>
			<my-panel trans-heading="true">
				<title-section>
					<span class="glyphicon glyphicon-list"></span>
					<span ng-if="searchCollectionBrowser.meta.count == 0">&nbsp;&nbsp;&nbsp;{{ hardData.sections[13] }} (0)</span>
					<span ng-if="searchCollectionBrowser.meta.count > 0">
						<span>&nbsp;&nbsp;&nbsp;{{ hardData.sections[13] }} ({{ hardData.count[11] }}:</span>
						<span class="text-info">{{ searchCollectionBrowser.meta.count }}</span>,
						<span>{{ hardData.count[10] }}:</span>
						<span class="text-info">{{ searchCollectionBrowser.collection.length }}</span>)
					</span>
				</title-section>
				<body-section>
					<div id="reportsMap" class="myGoogleMap"></div>
					<reports ctrl-id="SearchReports"></reports>
				</body-section>
			</my-panel>
		</div>
	</body>
</html>