<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="fragment" content="!" />
	</head>
	<body>
		<div id="lost-and-found-app-report" ng-controller="ReportController">
			<div ng-show="params.edit !== '1'">
				<my-panel>
					<title-section>
						<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>&nbsp;&nbsp;&nbsp;
						<span ng-bind="apiData.report.title" class="text-info"></span>
					</title-section>
					<action-section>
						<my-context-menu ng-if="reportContextMenu" ins="reportContextMenu"></my-context-menu>
					</action-section>
					<body-section>
						<div id="section1">
							<div>
								<div>
									<div>
										<span class="text-info">{{ hardData.phrases[150] }}:</span>
										<span ng-bind="apiData.report._id"></span>
									</div>
									<div>
										<span class="text-info">{{ hardData.phrases[60] }}:</span>
										<span ng-bind="apiData.report.fullCategory"></span>
									</div>
									<div>
										<span class="text-info">{{ hardData.phrases[59] }}:</span>
										<span>{{ apiData.report.pastSinceAdded + ' ' + hardData.phrases[139] }}</span>
										<span style="white-space: nowrap;">({{ apiData.report.formattedDateAdded }})</span>
									</div>
									<div>
										<span class="text-info">{{ hardData.phrases[152] }}:</span>
										<a ui-sref="main.profile({ id: apiData.reportUser._id })">
											<span ng-bind="apiData.reportUser.username" class="text-warning"></span>
										</a>
									</div>
								</div>
								<div>
									<report-avatar report="apiData.report" no-link="true"></report-avatar>
								</div>
							</div>
							<div>
								<div style="text-align: justify;">
									<span class="text-info">{{ hardData.phrases[28] }}:</span><br>
									<span ng-bind="apiData.report.description"></span>
								</div>
								<div>
									<span class="text-info">{{ hardData.phrases[157] }}:</span>
									<span ng-bind="apiData.report.serialNo"></span>
								</div>
							</div>
						</div>
						<div id="section2">
							<div>
								<div>
									<span class="text-info">{{ hardData.reportGroups[apiData.report.group == 'L' ? 0 : 1].label }} {{ hardData.phrases[151] }}:</span>
									<span>{{ apiData.report.formattedDate }}</span>
								</div>
								<div style="text-align: justify;">
									<span class="text-info">{{ hardData.phrases[153] }}:</span><br>
									<span ng-bind="apiData.report.details"></span>
								</div>
							</div>
							<div id="mapContainer">
								<div>
									<span class="text-info">{{ hardData.phrases[148] }}:</span>
									<div id="reportMap" class="myGoogleMap"></div>
								</div>
							</div>
						</div>
						<div id="section3" class="myBtnsGroupCenter">
							<my-btn
								ng-if="apiData.report.group == 'L' && apiData.report.userId != apiData.loggedInUser._id"
								ctrl-class="'btn-primary'"
								hard-data="{ label: ['phrases', 159] }"
							></my-btn>
						</div>
						<div id="section4">
							<my-tabs ins="ui.tabs.report"></my-tabs>
							<div ui-view="tab"></div>
						</div>
					</body-section>
				</my-panel>
			</div>
			<div ng-show="params.edit === '1'">
				<my-panel>
					<title-section>
						<span class="glyphicon glyphicon-edit"></span>
						<span>&nbsp;&nbsp;&nbsp;{{ hardData.phrases[149] }}</span>
						<span class="text-info">{{ apiData.report._id }}</span>
					</title-section>
					<body-section>
						<report-form action="edit"></report-form>
					</body-section>
				</my-panel>
			</div>
		</div>
	</body>
</html>