<div id="myStateBtn">
	<my-btn
		ng-if="type == 'like'"
		btn-class="[['btn-info'], ['btn-primary', 'btn-warning']]"
		icon-class="[['glyphicon glyphicon-thumbs-up'], ['glyphicon glyphicon-ok', 'glyphicon glyphicon-remove']]"
		hard-data="{ label_0_0: ['imperatives', 43], label_1_0: ['status', 9] }"
		on-click="onClick()"
		state="state"
	></my-btn>
	<my-btn
		ng-if="type == 'expand'"
		btn-class="[['btn-success'], ['btn-warning']]"
		hard-data="{ label_0_0: ['imperatives', 41], label_1_0: ['imperatives', 42] }"
		on-click="onClick()"
		state="state"
	></my-btn>
</div>