<div class="myDropDown {{ ins.class }}" ng-class="openDirection ? 'drop' + openDirection : 'dropdown'" my-directive>
	<button
		class="myBtn btn"
		ng-class="ctrlClass ? ctrlClass : 'btn-default'"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="true"
	>
		<span ng-bind="ins.getActiveSwitcher().label"></span>
	</button>
	<ul class="dropdown-menu">
		<li
			ng-repeat="switcher in ins.switchers"
		>
			<a
				ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
				ng-click="switcher.onClick()"
			>
				{{ switcher.label }}&nbsp;&nbsp;&nbsp;
				<span
					class="activeElemIcon glyphicon glyphicon-ok-sign"
					ng-show="switcher._id == ins.activeSwitcherId"
				></span>
			</a>
		</li>
	</ul>
</div>