#lost-and-found-app-item {

	#section1 {

		display: flex;
		@media only screen and (max-width: 767px) { flex-flow: row wrap; }

		> div:last-child { margin: 10px; }

		> div:first-child {
			display: flex;
			flex-flow: row wrap;
			> div { margin: 10px; }
		}

		@media only screen and (min-width: 768px) {
			> div:first-child { flex-basis: 35%; }
			> div:last-child { flex-basis: 65%; }
		}

		#descriptionSection {
			text-align: justify;
		}

		span.text-info, span.text-warning { font-weight: bold; }
	}
}