#lost-and-found-app-start {

	#section1 {

		.page-header {
			text-align: center;
			@media only screen and (min-width: 768px) { text-align: left; }
		}
	}

	#section2 {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		> div {
			flex-grow: 1;
			flex-basis: 100%;
			margin: 15px;
		}

		@media only screen and (min-width: 992px) {

			direction: rtl;

			> div {
				direction: ltr;
				flex-basis: 45%;
			}
		}

		.myCollectionBrowser {
			.ctrls {
				justify-content: flex-end;
			}
		}

		.myTabs { max-width: 450px; }
		.myForm { max-width: 300px; }
		.myTabs, .myForm { margin: 50px auto; }
		.userBadge { margin-bottom: 50px; }
	}
}