#lost-and-found-app-upgrade {

	#whenPaidSection {

		margin: 0 auto;

		.myPanel {
			.panel-heading { background-color: transparent; }
		}

		> div:first-child {
			display: flex;
			flex-flow: row wrap;

			> div {
				flex-basis: 48%;
				margin: 5px;
			}
		}

		> div:last-child {
			text-align: center;
			margin-top: 15px;
			img { width: 100px; }
		}
	}
}