#lost-and-found-app-main {

	min-height: 1000px;
	padding-bottom: 50px;

	.container-fluid {
		max-width: 950px;
	}

	#underNavbarPanel {

		display: flex;
		padding: 0;
		margin: 0 0 50px 0;

		> div {
			.userAvatar {

				display: flex;
				align-items: center;
				margin: 5px 0 5px 0;

				> div {
					padding: 0 5px 0 5px;
					.mySrc {
						img { @extend .tinyAvatarSize; }
						.srcLabel {
							width: 60px;
						}
					}
				}
			}
		}
	}
}