#lost-and-found-app-user {

	#pageHeader {}

	#pageBody {

		#asideSection {

			table {
				display: flex;
				justify-content: center;
				td { padding: 0; span { white-space: nowrap; } span.text-info { font-weight: bold; } }
			}

			.userAvatar {
				.mySrc { img { @extend .smallAvatarSize; } }
			}
		}

		#collectionSection {
			.auctionBadge {
				.mySrc { img { width: 150px; } }
			}
		}
	}
}