#lost-and-found-app-auction {

	#pageHeader {}

	#pageBody {

		#topSection {

			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;

			> div { padding: 15px; }

			> div:first-child {
				.itemAvatar { margin-bottom: 5px; }
			}

			> div:last-child { flex-grow: 1; }
		}

		#mainSection {}
	}
}