#lost-and-found-app-start {

	#infoSection {

		> div {
			text-align: center;
			@media only screen and (min-width: 768px) { text-align: left; }
		}
	}

	#formSection {

		.myTabs { max-width: 450px; }
		.myForm { max-width: 300px; }
		.myTabs, .myForm { margin: 50px auto; }
		.userBadge { margin-bottom: 50px; }
	}
}