#lost-and-found-app-home {

	table {

		td {
			padding: 0;
			span { white-space: nowrap; }
			span.text-info { font-weight: bold; }
		}
	}

	.myCollectionBrowser {
		.ctrls {
			justify-content: flex-end;
		}
	}
}