#auctionWindow {

	.myForm {

		.formCtrls {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			> div {
				padding: 0 10px 0 10px;

				.mySelect, .myInput {
					width: 150px;
					margin: 0 auto;
				}
			}
		}
	}
}