<div id="myComments">
	<my-form ins="myForm">
		<my-text-area
			ctrl-max-length="1000"
			model="myForm.model.content"
			auto-resizable="true"
			hard-data="{ label: ['labels', 43] }"
		></my-text-area>
	</my-form>
	<br>
	<my-collection-browser ins="collectionBrowser" no-scroll-top-btn="true">
		<frontctrls>
			<form-action-btns my-form="myForm"></form-action-btns>
		</frontctrls>
		<elems>
			<my-panel
				ng-repeat="comment in collectionBrowser.collection"
				ctrl-id="'comment_' + comment._id"
				context-menu-conf="comment.userId == apiData.loggedInUser._id ? commentContextMenuConf : undefined"
				data="comment"
			>
				<heading-text>
					<p>#{{ comment.elemPosition }} |</p>
					<p>
						<a ui-sref="app.profile({ id: comment.userId })">
							<span class="text-warning">{{ comment.user.username }}</span>
						</a>
					</p>
					<p>({{ $moment.duration($moment(Date()).diff($moment(comment.dateAdded))).humanize() + ' ' + hardData.count[8] }}), </p>
					<p ng-if="nestingLevel == 0">
						<span class="text-info">{{ hardData.count[12] + ': ' }}</span>
						<span>{{ comment.commentsCount }}, </span>
					</p>
					<p>
						<span class="text-info">{{ hardData.count[13] + ': ' }}</span>
						<span>{{ comment.likes.length }}</span>
					</p>
				</heading-text>
				<body-section>
					<user-avatar user="comment.user" no-loader="true"></user-avatar>
					<div id="commentTextSection">
						<p ng-text-truncate="comment.content" ng-tt-chars-threshold="250"></p>
					</div>
					<div id="actionBtns" class="myBtnsGroupRight">
						<my-state-btn
							type="like"
							state="comment.likes.indexOf(apiData.loggedInUser._id) > -1"
							on-click="makeLikeReq(this, comment)"
						></my-state-btn>
						<my-state-btn
							ng-if="nestingLevel == 0"
							type="expand"
							state="comment.showReplies"
							on-click="toggleReplies(this, comment)"
						></my-state-btn>
					</div>
					<div id="nestedCollectionSection" ng-if="nestingLevel == 0" ng-show="comment.showReplies">
						<div ng-if="comment.showReplies">
							<my-comments nesting-level="1"></my-comments>
						</div>
					</div>
				</body-section>
			</my-panel>
		</elems>
	</my-collection-browser>
</div>