<div class="myCommentsList">
	<my-collection-browser ins="collectionBrowser" no-scroll-top-btn="true">
		<frontctrls>
			<form-action-btns my-form="parentForm"></form-action-btns>
		</frontctrls>
		<elems>
			<my-panel
				ng-repeat="comment in collectionBrowser.collection"
				ctrl-id="'comment_' + comment._id"
				transparent-heading="true"
				context-menu-conf="comment.userId == apiData.loggedInUser._id ? commentContextMenuConf : undefined"
				data="comment"
			>
				<heading-img>
					<user-avatar user="comment.user"></user-avatar>
				</heading-img>
				<heading-text>
					<span>{{ comment.user.username }} | {{ $moment.duration($moment(Date()).diff($moment(comment.dateAdded))).humanize() + ' ' + hardData.count[8] }}</span>
				</heading-text>
				<body-section>
					<div>
						<div ng-bind="comment.content"></div>
						<div id="repliesBtns" class="myBtnsGroupRight" ng-if="nestingLevel == 0">
							<my-btn ng-show="!comment.showReplies" ctrl-class="'btn-default'" click-action="onToggleRepliesClick" click-context="comment" hard-data="{ label: ['imperatives', 41] }"></my-btn>
							<my-btn ng-show="comment.showReplies" ctrl-class="'btn-warning'" click-action="onToggleRepliesClick" click-context="comment" hard-data="{ label: ['imperatives', 42] }"></my-btn>
						</div>
					</div>
					<div id="nestedCollectionSection" ng-if="nestingLevel == 0" ng-show="comment.showReplies">
						<my-form ins="commentReplyForm">
							<my-text-area
								ctrl-max-length="1000"
								model="commentReplyForm.model.content"
								auto-resizable="true"
								hard-data="{ label: ['labels', 43] }"
							></my-text-area>
						</my-form>
						<div ng-if="nestedCollectionBrowser">
							<br>
							<my-comments-list
								nesting-level="1"
								collection-browser="nestedCollectionBrowser"
								parent-form="commentReplyForm"
								conf="conf"
							></my-comments-list>
						</div>
					</div>
				</body-section>
			</my-panel>
		</elems>
	</my-collection-browser>
</div>