<div id="userBadge" class="thumbnail">
	<div ng-hide="authState.loggedIn" ng-bind="::label1"></div>
	<div ng-show="authState.loggedIn">
		<user-avatar user="apiData.loggedInUser" with-label="true"></user-avatar>
		<br />
		<div class="myBtnsGroupCenter">
			<my-btn
				btn-class="[['btn-default']]"
				hard-data="{ label_0_0: ['imperatives', 12] }"
				on-click="onLogoutClick()"
			></my-btn>
			<my-btn
				btn-class="[['btn-primary']]"
				on-click="onContinueClick()"
				hard-data="{ label_0_0: ['imperatives', 7] }"
			></my-btn>
		</div>
	</div>
</div>