.myPanel {

	.panel-default {}

	.panel-heading {
		display: flex;
		align-items: center;
		min-height: 41px;
		padding: 5px 15px 5px 15px;

		#titleSection {
			flex-grow: 1;
			font-weight: bold;
			line-height: 18px;
  			padding-right: 15px;
  			a { color: $link-color; }
  			.glyphicon { top: 2px; }
		}

		#actionSection {
			> * {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
		}
	}

	.panel-body {
		position: relative;
		margin: 0 auto;
	}

	.trasparentHeading {
		background-color: transparent;
	}
}