<!DOCTYPE html>
<html lang="en" ng-controller="AppController" id="topHtml" class="defaultOverflow">
	<head>

		<base href="/">

		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="Kamil Noga">
		<meta name="fragment" content="!" />

		<title ng-bind="::hardData.app.name"></title>

		<link rel="canonical" href="https://localhost:3000" />
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="node_modules/cropper/dist/cropper.min.css" />

	</head>

	<body>

		<div ng-class="{ transparent: ui.loaders.renderer.isLoading }">
			<ng-include
				ng-repeat="page in ui.frames.app.switchers"
				src="'public/templates/lost-and-found-app-' + page._id + '.html'"
				ng-show="page._id == ui.frames.app.activeSwitcherId"
			></ng-include>
		</div>

		<div ng-show="ui.loaders.renderer.isLoading">
			<my-loader fixed-centered="true"></my-loader>
		</div>

		<my-standard-modal ins="ui.modals.infoModal" type="info"></my-standard-modal>
		<my-standard-modal ins="ui.modals.confirmModal" type="confirm"></my-standard-modal>
		<my-standard-modal ins="ui.modals.confirmDangerModal" type="confirmDanger"></my-standard-modal>
		<my-img-crop-modal max-file-size="NUMS.photoMaxSize" win-title="hardData.sections[19]"></my-img-crop-modal>



		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
		<script src="node_modules/moment/min/moment-with-locales.min.js"></script>
		<script src="node_modules/angular-momentjs/angular-momentjs.min.js"></script>
		<script src="node_modules/ng-text-truncate/ng-text-truncate.js"></script>
		<script src="node_modules/lodash/lodash.min.js"></script>
		<script src="node_modules/restangular/dist/restangular.min.js"></script>
		<script src="node_modules/socket.io-client/dist/socket.io.min.js"></script>
		<script src="node_modules/cropper/dist/cropper.min.js"></script>
		<script src="node_modules/accounting/accounting.min.js"></script>
		<script src="node_modules/money/money.js"></script>
		<script src="node_modules/js-marker-clusterer/src/markerclusterer_compiled.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsMOngNgNs4ELMb9YLjSubZUJuEA4EI7o&libraries=places"></script>

		<script src="public/appScripts.js"></script>

	</body>

</html>