.myCollectionElem {

	margin: 10px auto;
	border: 2px solid transparent;
	border-radius: 5px;
	&.isSelected { border: 2px solid; }

	.panel-default { border: 0 !important; }
	.panel-heading {}
}