<div class="myCollectionElem" ng-class="{ isSelected: data.isSelected }">
	<my-panel>
		<title-section>
			<div ng-transclude="titleSection"></div>
		</title-section>
		<body-section>
			<div id="actionSection">
				<my-elem-selector ng-if="isSelectable" is-selected="data.isSelected"></my-elem-selector>
				<my-context-menu ng-if="contextMenu" ins="contextMenu"></my-context-menu>
			</div>
			<div id="mainSection">
				<div id="infoSection" ng-transclude="infoSection"></div>
				<div id="avatarSection" ng-transclude="avatarSection"></div>
			</div>
		</body-section>
	</my-panel>
</div>