#itemForm {

	.myForm {

		.formCtrls {

			> div:first-child {

				display: flex;
				justify-content: space-around;

				@media only screen and (max-width: 600px) {
					flex-flow: row wrap;
				}

				> div {

					margin: 5px;
					flex-basis: 100%;

					.mySelectsGroup > div {
						.mySelect {}
					}
				}
			}

			> div:last-child {

				margin: 5px;

				textarea {
					max-width: 600px;
					min-height: 175px !important;
					text-align: justify;
				}
			}
		}
	}

	#map {
		height: 300px;
		border: 1px solid;
	}
}