<div class="myInput myFormCtrl" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error, hideErrors: hideErrors }"></my-form-error-icon>
	<input
		id="{{ ctrlId }}"
		class="form-control"
		type="{{ ctrlType }}"
		placeholder="{{ placeholder || '...' }}"
		maxlength="{{ ctrlMaxLength }}"
		min="{{ ctrlMinValue }}"
		max="{{ ctrlMaxValue }}"
		ng-model="model.value"
		ng-disabled="isDisabled"
		autocomplete="autocomplete"
	>
	<div id="autocompleteSection" ng-if="autocomplete">
		<img src="{{ autocomplete.icon }}">&nbsp;
		<span ng-bind="autocomplete.label"></span>
	</div>
</div>