<div id="reports">
	<my-collection-browser ins="collectionBrowser" no-scroll-top-btn="ctrlId == 'lastViewed' || ctrlId == 'newlyAdded'">
		<elems>
			<my-panel
				ng-repeat="report in collectionBrowser.collection"
				ng-class="report.startEvent.type == 'found' ? 'isFound' : ''"
				is-selectable="ctrlId == 'byUser' && apiData.profileUser._isTheOneLoggedIn()"
				context-menu-conf="ctrlId == 'byUser' && apiData.profileUser._isTheOneLoggedIn() ? elemContextMenuConf : undefined"
				data="report"
			>
				<heading-text>
					<a ui-sref="app.report({ id: report._id })">
						<span class="text-info">
							#{{ report.elemPosition }} | {{ report.title.truncate(25) }}
						</span>
					</a>
				</heading-text>
				<body-section>
					<div id="infoSection" ng-if="!noInfo">
						<p>{{ report.getFullCategory() }}</p>
						<p>
							<span>{{ hardData.reportTypes[report.startEvent.type == 'lost' ? 0 : 1].label2 }}</span>
							<span ng-bind="hardData.count[0]"></span>
							<span>{{ $moment(report.startEvent.date).format('DD-MM-YYYY') }}</span>
						</p>
						<p>
							<span ng-bind="hardData.count[7]"></span>
							<span>{{ $moment.duration($moment(Date()).diff($moment(report.dateAdded))).humanize() + ' ' + hardData.count[8] }}</span>
						</p>
					</div>
					<div id="avatarSection" ng-if="!noAvatar && report.avatar">
						<report-avatar report="report" hide-default-src="true"></report-avatar>
					</div>
				</body-section>
			</my-panel>
		</elems>
	</my-collection-browser>
</div>
<div id="appearanceForm">
	<my-form ins="myForm">
		<my-select
			ctrl-id="'theme'"
			model="myForm.model.theme"
			collection="hardData.themes"
			option-zero="false"
			prop-names="{ optionValue: 'value', optionLabel: 'label' }"
			hard-data="{ label: ['labels', 14] }"
		></my-select>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="contactForm">
	<my-form ins="myForm">
		<div>
			<my-select
				ctrl-id="'contactType'"
				model="myForm.model.contactType"
				collection="contactTypes"
				option-zero="true"
				prop-names="{ optionValue: '_id', optionLabel: 'label' }"
				hard-data="{ label: ['labels', 21], placeholder: ['imperatives', 18] }"
			></my-select>
		</div>
		<div>
			<my-text-area
				ctrl-id="'contactMsg'"
				ctrl-max-length="2000"
				model="myForm.model.contactMsg"
				hard-data="{ label: ['labels', 11] }"
			></my-text-area>
			<form-action-btns my-form="myForm"></form-action-btns>
		</div>
	</my-form>
</div>
<div id="deactivationForm">
	<my-form ins="myForm">
		<my-select
			ctrl-id="'deactivationReason'"
			model="myForm.model.deactivationReasonId"
			collection="deactivationReasons"
			option-zero="true"
			prop-names="{ optionValue: '_id', optionLabel: 'label' }"
			hard-data="{ label: ['questions', 0], placeholder: ['imperatives', 18] }"
		></my-select>
		<form-action-btns my-form="myForm">
			<my-btn
				btn-class="[['btn-danger']]"
				hard-data="{ label_0_0: ['imperatives', 14] }"
				on-click="onDeactivateClick()"
			></my-btn>
		</form-action-btns>
	</my-form>
</div>
<div id="formActionBtns" class="myBtnsGroupCenter">

	<div ng-transclude></div>

	<!-- Cancel button -->
	<my-btn
		ng-show="myForm.showCancelBtn"
		btn-class="[['btn-warning']]"
		hard-data="{ label_0_0: ['imperatives', 2] }"
		on-click="onCancel()"
	></my-btn>

	<!-- Reset button -->
	<my-btn
		ng-show="myForm.showResetBtn"
		btn-class="[['btn-default']]"
		hard-data="{ label_0_0: ['imperatives', 10] }"
		on-click="onReset()"
	></my-btn>

	<!-- Clear button -->
	<my-btn
		ng-show="myForm.showClearBtn"
		btn-class="[['btn-default']]"
		hard-data="{ label_0_0: ['imperatives', 11] }"
		on-click="onClear()"
	></my-btn>

	<!-- Submit button -->
	<my-btn
		ng-show="myForm.submitBtnPhraseIndex != undefined"
		btn-class="[['btn-primary']]"
		hard-data="{ label_0_0: ['imperatives', myForm.submitBtnPhraseIndex] }"
		on-click="onSubmit()"
	></my-btn>

</div>
<div id="loginForm">
	<my-form ins="myForm">
		<my-captcha
			ctrl-id="'loginFormCaptcha'"
			action-name="'login'"
		></my-captcha>
		<my-form-error-icon args="{ error: myForm.model.username.error.message, hideErrors: hideErrors }"></my-form-error-icon>
		<my-input
			ctrl-id="'username'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.username"
			hard-data="{ label: ['labels', 1] }"
			hide-errors="true"
		></my-input>
		<my-input
			ctrl-id="'password'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.password"
			hard-data="{ label: ['labels', 2] }"
			hide-errors="true"
		></my-input>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="passwordForm">
	<my-form ins="myForm">
		<my-input
			ctrl-id="'currentPassword'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.currentPassword"
			hard-data="{ label: ['labels', 3] }"
		></my-input>
		<my-input
			ctrl-id="'password'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.password"
			hard-data="{ label: ['labels', 4] }"
		></my-input>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="personalDetailsForm">
	<my-form ins="myForm">
		<my-input
			ctrl-id="'email'"
			ctrl-type="'text'"
			ctrl-max-length="254"
			model="myForm.model.email"
			hard-data="{ label: ['labels', 0] }"
		></my-input>
		<my-input
			ctrl-id="'firstname'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.firstname"
			hard-data="{ label: ['labels', 5] }"
		></my-input>
		<my-input
			ctrl-id="'lastname'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.lastname"
			hard-data="{ label: ['labels', 6] }"
		></my-input>
		<my-selects-group
			collection="countries.data"
			model="myForm.model.country"
			hard-data="{ label: ['labels', 8] }"
		>
			<my-select
				ctrl-id="'countryFirstLetter'"
				collection=""
				model="myForm.model.countryFirstLetter"
				prop-names="{ optionValue: 'label', optionLabel: 'label' }"
			></my-select>
			<my-select
				ctrl-id="'country'"
				collection=""
				nested-collection-field-name="'children'"
				model="myForm.model.country"
				option-zero="true"
				prop-names="{ optionValue: 'name', optionLabel: 'name' }"
				hard-data="{ placeholder: ['imperatives', 18] }"
				hide-errors="true"
			></my-select>
		</my-selects-group>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="recoverForm">
	<my-form ins="myForm">
		<my-captcha
			ctrl-id="'recoverFormCaptcha'"
			action-name="'recover'"
		></my-captcha>
		<my-input
			ctrl-id="'email'"
			ctrl-type="'text'"
			ctrl-max-length="254"
			model="myForm.model.email"
			hard-data="{ label: ['labels', 0] }"
		></my-input>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="regionalForm">
	<my-form ins="myForm">
		<my-select
			ctrl-id="'language'"
			model="myForm.model.language"
			collection="hardData.languages"
			option-zero="false"
			prop-names="{ optionValue: 'value', optionLabel: 'label' }"
			hard-data="{ label: ['labels', 9] }"
		></my-select>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="registerForm">
	<my-form ins="myForm">
		<my-captcha
			ctrl-id="'registerFormCaptcha'"
			action-name="'register'"
		></my-captcha>
		<my-input
			ctrl-id="'email'"
			ctrl-type="'text'"
			ctrl-max-length="254"
			model="myForm.model.email"
			hard-data="{ label: ['labels', 0] }"
		></my-input>
		<my-input
			ctrl-id="'username'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.username"
			hard-data="{ label: ['labels', 1] }"
		></my-input>
		<my-input
			ctrl-id="'password'"
			ctrl-type="'password'"
			ctrl-max-length="25"
			model="myForm.model.password"
			hard-data="{ label: ['labels', 2] }"
		></my-input>
		<my-input
			ctrl-id="'firstname'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.firstname"
			hard-data="{ label: ['labels', 5] }"
		></my-input>
		<my-input
			ctrl-id="'lastname'"
			ctrl-type="'text'"
			ctrl-max-length="20"
			model="myForm.model.lastname"
			hard-data="{ label: ['labels', 6] }"
		></my-input>
		<my-selects-group
			collection="countries.data"
			model="myForm.model.country"
			hard-data="{ label: ['labels', 8] }"
		>
			<my-select
				ctrl-id="'countryFirstLetter'"
				collection=""
				model="myForm.model.countryFirstLetter"
				prop-names="{ optionValue: 'label', optionLabel: 'label' }"
			></my-select>
			<my-select
				ctrl-id="'country'"
				collection=""
				nested-collection-field-name="'children'"
				model="myForm.model.country"
				option-zero="true"
				prop-names="{ optionValue: 'name', optionLabel: 'name' }"
				hide-errors="true"
				hard-data="{ placeholder: ['imperatives', 18] }"
			></my-select>
		</my-selects-group>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="reportForm">
	<my-form ins="myForm" ng-if="action != 'respondToReport'">
		<my-panel transparent-heading="true" >
			<heading-text>
				<span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="hardData.sections[16]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-input
							ctrl-id="'title'"
							ctrl-type="'text'"
							ctrl-max-length="50"
							model="myForm.model.title"
							hard-data="{ label: ['labels', 22] }"
						></my-input>
						<my-selects-group collection="hardData.reportCategories">
							<my-select
								ctrl-id="'category1'"
								collection=""
								model="myForm.model.category1"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hard-data="{ label: ['labels', 12], placeholder: ['imperatives', 18] }"
							></my-select>
							<my-select
								ctrl-id="'category2'"
								collection=""
								nested-collection-field-name="'subcategories'"
								model="myForm.model.category2"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hide-errors="true"
								hard-data="{ placeholder: ['imperatives', 18] }"
							></my-select>
							<my-select
								ctrl-id="'category3'"
								collection=""
								nested-collection-field-name="'subcategories'"
								model="myForm.model.category3"
								prop-names="{ optionValue: '_id', optionLabel: 'label' }"
								option-zero="true"
								hide-errors="true"
								hard-data="{ placeholder: ['imperatives', 18] }"
							></my-select>
						</my-selects-group>
					</div>
					<div>
						<my-input
							ctrl-id="'serialNo'"
							ctrl-type="'text'"
							ctrl-max-length="50"
							model="myForm.model.serialNo"
							hard-data="{ label: ['labels', 20] }"
						></my-input>
						<my-text-area
							ctrl-id="'description'"
							ctrl-max-length="1000"
							model="myForm.model.description"
							hard-data="{ label: ['labels', 10] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<my-panel transparent-heading="true">
			<heading-text>
				<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="hardData.sections[15]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-select
							ctrl-id="'startEvent_type'"
							collection="hardData.reportTypes"
							model="myForm.model.startEvent.type"
							prop-names="{ optionValue: 'value', optionLabel: 'label' }"
							option-zero="true"
							hard-data="{ label: ['labels', 16], placeholder: ['imperatives', 18] }"
						></my-select>
						<my-date-input
							ctrl-id="'startEvent_date'"
							ctrl-min-value="minDate"
							ctrl-max-value="myForm.model.startEvent.date.value.default"
							model="myForm.model.startEvent.date"
							hard-data="{ label: ['labels', 15] }"
							is-required="true"
						></my-date-input>
						<my-google-place-auto-complete
							ctrl-id="'startEvent_address'"
							model="myForm.model.startEvent.address"
							hard-data="{ label: ['labels', 17] }"
							autocomplete="autocomplete"
						></my-google-place-auto-complete>
					</div>
					<div>
						<my-text-area
							ctrl-id="'startEvent_details'"
							ctrl-max-length="1000"
							model="myForm.model.startEvent.details"
							hard-data="{ label: ['labels', 19] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<br>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
	<my-form ins="myForm" ng-if="action == 'respondToReport'">
		<my-panel transparent-heading="true">
			<heading-text>
				<span class="glyphicon glyphicon-flash"></span>&nbsp;&nbsp;&nbsp;
				<span ng-bind="hardData.sections[15]"></span>
			</heading-text>
			<body-section>
				<div class="formCtrls">
					<div>
						<my-date-input
							ctrl-id="'endEvent_date'"
							ctrl-min-value="minDate"
							ctrl-max-value="myForm.model.date.value.default"
							model="myForm.model.date"
							hard-data="{ label: ['labels', 15] }"
							is-required="true"
						></my-date-input>
						<my-google-place-auto-complete
							ctrl-id="'endEvent_address'"
							model="myForm.model.address"
							hard-data="{ label: ['labels', 17] }"
							autocomplete="autocomplete"
						></my-google-place-auto-complete>
					</div>
					<div>
						<my-text-area
							ctrl-id="'endEvent_details'"
							ctrl-max-length="1000"
							model="myForm.model.details"
							hard-data="{ label: ['labels', 19] }"
						></my-text-area>
					</div>
				</div>
			</body-section>
		</my-panel>
		<br>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="reportSearchForm">
	<my-form ins="myForm" submit-action="searchReports">
		<div>
			<div>
				<my-selects-group collection="reportCategories">
					<my-select
						ctrl-id="'category1'"
						collection=""
						model="myForm.model.category1"
						prop-names="{ optionValue: '_id', optionLabel: 'label' }"
						option-zero="true"
						hard-data="{ label: ['labels', 12], placeholder: ['imperatives', 18] }"
					></my-select>
					<my-select
						ctrl-id="'category2'"
						collection=""
						nested-collection-field-name="'subcategories'"
						model="myForm.model.category2"
						prop-names="{ optionValue: '_id', optionLabel: 'label' }"
						option-zero="true"
						hard-data="{ placeholder: ['imperatives', 18] }"
					></my-select>
					<my-select
						ctrl-id="'category3'"
						collection=""
						nested-collection-field-name="'subcategories'"
						model="myForm.model.category3"
						prop-names="{ optionValue: '_id', optionLabel: 'label' }"
						option-zero="true"
						hard-data="{ placeholder: ['imperatives', 18] }"
					></my-select>
				</my-selects-group>
			</div>
			<div>
				<my-input
					ctrl-id="'title'"
					ctrl-type="'text'"
					ctrl-max-length="50"
					model="myForm.model.title"
					hard-data="{ label: ['labels', 7] }"
				></my-input>
			</div>
		</div>
		<form-action-btns my-form="myForm"></form-action-btns>
	</my-form>
</div>
<div id="upgradeForm">
	<br />
	<my-form ins="myForm">
		<div id="formSection">
			<div>
				<my-panel transparent-heading="true">
					<heading-text>
						<span>&nbsp;&nbsp;&nbsp;{{ hardData.labels[37] }}</span>
						<span ng-show="myModel.currency.value.active">-</span>
						<span class="text-warning">{{ myModel.amount.value.active }} {{ myModel.currency.value.active }}</span>
					</heading-text>
					<body-section>
						<my-select
							ctrl-id="'paymentMethod'"
							collection="hardData.payment.methods"
							model="myModel.paymentMethod"
							option-zero="true"
							hard-data="{ label: ['labels', 30], placeholder: ['imperatives', 18] }"
						></my-select>
						<my-select
							ctrl-id="'currency'"
							collection="hardData.payment.currencies"
							model="myModel.currency"
							prop-names="{ optionValue: 'value', optionLabel: 'label' }"
							option-zero="true"
							hard-data="{ label: ['labels', 35], placeholder: ['imperatives', 18] }"
						></my-select>
					</body-section>
				</my-panel>
			</div>
			<div ng-show="myModel.getValue('paymentMethod') == 'credit_card'">
				<my-panel transparent-heading="true">
					<heading-text>
						<span>&nbsp;&nbsp;&nbsp;{{ hardData.payment.methods.credit_card }}</span>
					</heading-text>
					<body-section>
						<my-select
							ctrl-id="'creditCardType'"
							collection="hardData.payment.creditCardTypes"
							model="myModel.creditCardType"
							option-zero="true"
							hard-data="{ label: ['labels', 31], placeholder: ['imperatives', 18] }"
						></my-select>
						<my-input
							ctrl-id="'creditCardNumber'"
							ctrl-type="'text'"
							ctrl-max-length="19"
							model="myModel.creditCardNumber"
							hard-data="{ label: ['labels', 32] }"
						></my-input>
						<my-input
							ctrl-id="'firstname'"
							ctrl-type="'text'"
							ctrl-max-length="25"
							model="myModel.firstname"
							hard-data="{ label: ['labels', 5] }"
						></my-input>
						<my-input
							ctrl-id="'lastname'"
							ctrl-type="'text'"
							model="myModel.lastname"
							hard-data="{ label: ['labels', 6] }"
						></my-input>
						<my-input
							ctrl-id="'creditCardExpireMonth'"
							ctrl-type="'number'"
							ctrl-min-value="1"
							ctrl-max-value="12"
							model="myModel.creditCardExpireMonth"
							hard-data="{ label: ['labels', 33] }"
						></my-input>
						<my-input
							ctrl-id="'creditCardExpireYear'"
							ctrl-type="'number'"
							ctrl-min-value="currentYear"
							ctrl-max-value="currentYear + 30"
							model="myModel.creditCardExpireYear"
							hard-data="{ label: ['labels', 34] }"
						></my-input>
						<my-input
							ctrl-id="'cvv2'"
							ctrl-type="'number'"
							ctrl-min-value="111"
							ctrl-max-value="9999"
							model="myModel.cvv2"
							hard-data="{ label: ['labels', 38] }"
						></my-input>
					</body-section>
				</my-panel>
			</div>
		</div>
		<div>
			<form-action-btns my-form="myForm"></form-action-btns>
		</div>
	</my-form>
</div>
<div id="appStats">
	<my-panel transparent-heading="true">
		<heading-text>
			<span class="glyphicon glyphicon-stats"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ hardData.sections[14] }}</span>
		</heading-text>
		<body-section>
			<table class="table">
				<tr>
					<td>
						<span class="text-info">{{ hardData.count[2] }}:</span>
						<span ng-bind="apiData.stats.usersCount"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="text-info">{{ hardData.count[3] }}:</span>
						<span ng-bind="apiData.stats.reportsCount"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="text-info">{{ hardData.count[4] }}:</span>
						<span ng-bind="apiData.stats.lostReportsCount"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="text-info">{{ hardData.count[5] }}:</span>
						<span ng-bind="apiData.stats.foundReportsCount"></span>
					</td>
				</tr>
			</table>
		</body-section>
	</my-panel>
</div>
<div id="userBadge" class="thumbnail">
	<div ng-hide="authState.loggedIn" ng-bind="label1"></div>
	<div ng-show="authState.loggedIn">
		<user-avatar user="apiData.loggedInUser" with-label="true"></user-avatar>
		<br />
		<div class="myBtnsGroupCenter">
			<my-btn
				btn-class="[['btn-default']]"
				hard-data="{ label_0_0: ['imperatives', 12] }"
				on-click="onLogoutClick()"
			></my-btn>
			<my-btn
				btn-class="[['btn-primary']]"
				on-click="onContinueClick()"
				hard-data="{ label_0_0: ['imperatives', 7] }"
			></my-btn>
		</div>
	</div>
</div>
<div id="reportAvatar" ng-hide="hideDefaultSrc && src.isDefaultUrlLoaded()">
	<my-src ins="src" type="img"></my-src>
</div>
<div id="reportPhotos">
	<div ng-if="!editable()">
		<my-src-thumbs
			src-thumbs-collection="srcThumbsCollection"
			src-slides-collection="srcSlidesCollection"
			browsing-window-id="reportPhotoSlidesWindow"
			src-type="img"
		></my-src-thumbs>
	</div>
	<div ng-if="editable()">
		<my-src-thumbs
			src-thumbs-collection="srcThumbsCollection"
			src-slides-collection="srcSlidesCollection"
			main-context-menu-conf="mainContextMenuConf"
			src-context-menu-conf="srcContextMenuConf"
			browsing-window-id="reportPhotoSlidesWindow"
			src-type="img"
			is-src-selectable="true"
		></my-src-thumbs>
	</div>
</div>
<div id="userAvatar">
	<div>
		<my-src ng-if="!editable" ins="src" type="img"></my-src>
		<my-src ng-if="editable" ins="src" type="img" context-menu-conf="srcContextMenuConf"></my-src>
	</div>
</div>
<div id="myScrollTopBtn" class="myBtnsGroupCenter">
	<my-btn
		btn-class="[['btn-default']]"
		on-click="scroll()"
		hard-data="{ label_0_0: ['imperatives', 25] }"
	></my-btn>
</div>
<div id="myBtn" my-directive>
	<button
		type="button"
		class="btn"
		ng-class="activeConfig.btnClass"
		ng-mouseenter="onMouseEnter()"
		ng-mouseleave="onMouseLeave()"
		ng-click="onClick()"
	>
		<span ng-if="activeConfig.iconClass"><span class="icon" ng-class="activeConfig.iconClass"></span>&nbsp;&nbsp;</span>
		<span ng-bind="activeConfig.label"></span>
	</button>
</div>
<div id="myStateBtn">
	<my-btn
		ng-if="type == 'like'"
		btn-class="[['btn-info'], ['btn-primary', 'btn-warning']]"
		icon-class="[['glyphicon glyphicon-thumbs-up'], ['glyphicon glyphicon-ok', 'glyphicon glyphicon-remove']]"
		hard-data="{ label_0_0: ['imperatives', 43], label_1_0: ['status', 9] }"
		on-click="onClick()"
		state="state"
	></my-btn>
	<my-btn
		ng-if="type == 'expand'"
		btn-class="[['btn-success'], ['btn-warning']]"
		hard-data="{ label_0_0: ['imperatives', 41], label_1_0: ['imperatives', 42] }"
		on-click="onClick()"
		state="state"
	></my-btn>
</div>
<div id="myCollectionBrowser">
	<div>
		<div id="basicCtrls">
			<div id="frontCtrls" ng-transclude="frontctrls"></div>
			<div ng-if="ins.filterer">
				<my-drop-down ins="ins.filterer" open-direction="'down'"></my-drop-down>
			</div>
			<div ng-if="ins.sorter && ins.collection.length > 0">
				<my-drop-down ins="ins.sorter" open-direction="'down'"></my-drop-down>
			</div>
			<div ng-if="ins.orderer && ins.collection.length > 0">
				<my-drop-down ins="ins.orderer" open-direction="'down'"></my-drop-down>
			</div>
			<div class="myPager" ng-show="ins.pager.switchers.length > 1">
				<my-drop-down ins="ins.pager" open-direction="'down'" ctrl-class="'btn-warning'"></my-drop-down>
			</div>
			<div class="refresher" ng-hide="ins.hideRefresher || !ins.refresher">
				<my-btn
					btn-class="[['btn-info']]"
					icon-class="[['glyphicon glyphicon-refresh']]"
					hard-data="{ label_0_0: ['imperatives', 19] }"
					on-click="ins.onRefreshClick()"
				></my-btn>
			</div>
			<div id="endCtrls" ng-transclude="endctrls"></div>
		</div>
		<div id="extraCtrls" ng-transclude="extractrls"></div>
	</div>
	<div id="collectionContainer">
		<div ng-show="ins.collection.length > 0" ng-class="ins.loader.isLoading ? 'halfTransparent' : ''">
			<br />
			<div ng-transclude="elems"></div>
			<br />
			<my-scroll-top-btn ng-if="!noScrollTopBtn && ins.collection.length >= 5" ng-show="ins.pager"></my-scroll-top-btn>
			<br />
		</div>
		<my-loader ng-show="ins.loader.isLoading"></my-loader>
	</div>
</div>
<div id="myComments">
	<my-form ins="myForm">
		<my-text-area
			ctrl-max-length="1000"
			model="myForm.model.content"
			auto-resizable="true"
			hard-data="{ label: ['labels', 43] }"
		></my-text-area>
	</my-form>
	<br>
	<my-collection-browser ins="collectionBrowser" no-scroll-top-btn="true">
		<frontctrls>
			<form-action-btns my-form="myForm"></form-action-btns>
		</frontctrls>
		<elems>
			<my-panel
				ng-repeat="comment in collectionBrowser.collection"
				ctrl-id="'comment_' + comment._id"
				context-menu-conf="comment.userId == apiData.loggedInUser._id ? commentContextMenuConf : undefined"
				data="comment"
			>
				<heading-text>
					<p>#{{ comment.elemPosition }} |</p>
					<p>
						<a ui-sref="app.profile({ id: comment.userId })">
							<span class="text-warning">{{ comment.user.username }}</span>
						</a>
					</p>
					<p>({{ $moment.duration($moment(Date()).diff($moment(comment.dateAdded))).humanize() + ' ' + hardData.count[8] }}), </p>
					<p ng-if="nestingLevel == 0">
						<span class="text-info">{{ hardData.count[12] + ': ' }}</span>
						<span>{{ comment.commentsCount }}, </span>
					</p>
					<p>
						<span class="text-info">{{ hardData.count[13] + ': ' }}</span>
						<span>{{ comment.likes.length }}</span>
					</p>
				</heading-text>
				<body-section>
					<user-avatar user="comment.user"></user-avatar>
					<div id="commentTextSection">
						<p ng-text-truncate="comment.content" ng-tt-chars-threshold="250"></p>
					</div>
					<div id="actionBtns" class="myBtnsGroupRight">
						<my-state-btn
							type="like"
							state="comment.likes.indexOf(apiData.loggedInUser._id) > -1"
							on-click="makeLikeReq(this, comment)"
						></my-state-btn>
						<my-state-btn
							ng-if="nestingLevel == 0"
							type="expand"
							state="comment.showReplies"
							on-click="toggleReplies(this, comment)"
						></my-state-btn>
					</div>
					<div id="nestedCollectionSection" ng-if="nestingLevel == 0" ng-show="comment.showReplies">
						<div ng-if="comment.showReplies">
							<my-comments nesting-level="1"></my-comments>
						</div>
					</div>
				</body-section>
			</my-panel>
		</elems>
	</my-collection-browser>
</div>
<div id="myElemSelector">
	<button class="btn" type="button">
		<span class="glyphicon glyphicon-ok" ng-show="isSelected"></span>
	</button>
</div>
<div id="myLoader" ng-class="absCentered ? 'absCentered' : fixedCentered ? 'fixedCentered' : ''">
	<div class="sk-circle">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>
</div>
<div id="myPanel" ng-class="{ isSelected: data.isSelected }">
	<div class="panel-default">
		<div class="panel-heading" ng-class="transparentHeading ? 'trasparentHeading' : ''">
			<div id="headingImg" ng-transclude="headingImg"></div>
			<div id="headingText" ng-transclude="headingText"></div>
			<div id="headingMenu">
				<div ng-transclude="headingMenu"></div>
				<my-elem-selector ng-if="isSelectable" is-selected="data.isSelected"></my-elem-selector>
				<my-context-menu ng-if="contextMenu" ins="contextMenu"></my-context-menu>
			</div>
		</div>
		<div class="panel-body">
			<div id="bodySection" ng-transclude="bodySection"></div>
		</div>
	</div>
</div>
<div my-directive
	id="myPopOverIcon"
	popover-title="{{ title }}"
	uib-popover="{{ message }}"
	popover-trigger="'mouseenter'"
	popover-placement="auto top-right"
	popover-animation="false"
>
	<div ng-transclude="icon"></div>
</div>
<div id="myForm">
	<my-loader ng-show="!ins.noLoader && loader.isLoading" abs-centered="true"></my-loader>
	<form
		id="{{ ins.ctrlId }}"
		class="no_selection"
		ng-class="{ halfTransparent: !ins.noLoader && loader.isLoading }"
		my-directive
	>
		<div ng-transclude></div>
	</form>
</div>
<div id="myFormErrorIcon">
	<span
		ng-if="!args.hideErrors && args.error"
		uib-popover="{{ args.error }}"
		popover-trigger="'mouseenter'"
		popover-placement="auto top-right"
	>
		<i class="fa fa-exclamation-circle text-warning" aria-hidden="true"></i>
	</span>
</div>
<div id="myDateInput" class="myFormCtrl" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<input
		id="{{ ctrlId }}"
		class="form-control"
		type="date"
		min="{{ ctrlMinValue | date:'yyyy-MM-dd' }}"
		max="{{ ctrlMaxValue | date:'yyyy-MM-dd' }}"
		ng-model="model.value.active"
		ng-required="isRequired"
	>
</div>
<div id="myGooglePlaceAutoComplete" class="myFormCtrl" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<input
		id="{{ ctrlId }}"
		class="form-control"
		type="text"
		placeholder="{{ placeholder || '...' }}"
		ng-model="model.value.active"
		autocomplete="autocomplete"
	>
	<div id="activePlaceSection" ng-show="autocomplete.label">
		<img src="https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png">&nbsp;
		<span ng-bind="autocomplete.label"></span>
	</div>
</div>
<div id="myInput" class="myFormCtrl" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<input
		id="{{ ctrlId }}"
		class="form-control"
		type="{{ ctrlType }}"
		placeholder="{{ placeholder || '...' }}"
		maxlength="{{ ctrlMaxLength }}"
		min="{{ ctrlMinValue }}"
		max="{{ ctrlMaxValue }}"
		ng-model="model.value.active"
		ng-disabled="isDisabled"
	>
</div>
<div id="myTextArea" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<textarea
		id="{{ ctrlId }}"
		class="form-control"
		type="textarea"
		placeholder="{{ placeholder || '...' }}"
		maxlength="{{ ctrlMaxLength }}"
		ng-model="model.value.active"
		ng-keyup="resize()"
	></textarea>
</div>
<div id="myContextMenu" class="dropdown" ng-hide="ins.isHidden()">
	<button
		class="btn"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="true"
		ng-focus="ins.isOpen = true"
		ng-blur="ins.isOpen = false"
	>
		<span ng-class="ins.icon"></span>
	</button>
	<ul class="dropdown-menu">
		<li ng-repeat="switcher in ins.switchers" ng-hide="switcher.isHidden()">
			<a ng-click="switcher.onClick()">{{ switcher.label }}</a>
		</li>
	</ul>
</div>
<div id="myDropDown" class="{{ ins.class }}" ng-class="openDirection ? 'drop' + openDirection : 'dropdown'" my-directive>
	<button
		class="btn"
		ng-class="ctrlClass ? ctrlClass : 'btn-default'"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="true"
	>
		<span ng-bind="ins.getActiveSwitcher().label"></span>
	</button>
	<ul class="dropdown-menu">
		<li
			ng-repeat="switcher in ins.switchers"
		>
			<a
				ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
				ng-click="switcher.onClick()"
			>
				{{ switcher.label }}&nbsp;&nbsp;&nbsp;
				<span
					class="activeElemIcon glyphicon glyphicon-ok-sign"
					ng-show="switcher._id == ins.activeSwitcherId"
				></span>
			</a>
		</li>
	</ul>
</div>
<div id="myListGroup" my-directive>
	<a
		ng-repeat="switcher in ins.switchers"
		ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
		class="list-group-item"
	>
		{{ switcher.label }}
		<span
			class="activeElemIcon glyphicon glyphicon-ok-sign pull-right"
			ng-show="ins.activeSwitcherId == switcher._id"
		></span>
	</a>
</div>
<ul id="myNavDropDown" class="nav navbar-nav" ng-class="ins.class" my-directive>
	<li class="dropdown">
		<a
			class="dropdown-toggle"
			data-toggle="dropdown"
			role="button"
			aria-haspopup="true"
			aria-expanded="false"
		>
			<span ng-class="ins.icon"></span>
		</a>
		<ul class="dropdown-menu">
			<li
				ng-repeat="switcher in ins.switchers"
				role="{{ switcher._id == 'separator' ? 'separator' : undefined }}"
				ng-class="switcher._id == 'separator' ? 'divider' : undefined"
			>
				<a
					ng-if="switcher._id != 'separator'"
					ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
					ng-click="switcher.onClick()"
				>
					<span ng-class="switcher.icon"></span>&nbsp;&nbsp;&nbsp;{{ switcher.label }}
				</a>
			</li>
		</ul>
	</li>
</ul>
<ul id="myNavMenu" class="nav navbar-nav myNavMenu" my-directive>
	<li
		ng-repeat="switcher in ins.switchers"
		ng-class="{ active: switcher._id == ins.activeSwitcherId }"
	>
		<a
			ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
		>
			<span ng-class="switcher.icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ switcher.label }}</span>
			<span class="sr-only">(current)</span>
		</a>
	</li>
</ul>
<div id="mySelect" class="myFormCtrl" ng-show="collection" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<select
		id="{{ ctrlId }}"
		class="form-control"
		ng-class="{ empty: !model.value.active }"
		ng-model="model.value.active"
		ng-change="onSelect()"
	>
		<option ng-if="optionZero" value="" selected>{{ placeholder + ' ...' || '...' }}</option>
		<option
			ng-if="propNames"
			ng-repeat="elem in collection"
			ng-bind="elem[propNames.optionLabel]"
			value="{{ elem[propNames.optionValue] }}"
		></option>
		<option
			ng-if="!propNames"
			ng-repeat="(key, value) in collection"
			ng-bind="value"
			value="{{ key }}"
		></option>
	</select>
</div>
<div id="mySelectsGroup" my-directive>
	<my-label text="label" css-class="'text-info'"></my-label>
	<my-form-error-icon args="{ error: model.error.message, hideErrors: hideErrors }"></my-form-error-icon>
	<div ng-transclude></div>
</div>
<div id="myTabs" my-directive>
	<ul class="nav nav-tabs" role="tablist">
		<li
			ng-repeat="switcher in ins.switchers"
			ng-class="{ active: ins.activeSwitcherId == switcher._id }"
			role="presentation"
			ng-show="switcher.isVisible != undefined ? switcher.isVisible : true"
		>
			<a
				id="{{ switcher._id }}"
				ng-href="{{ switcher.getRoute ? switcher.getRoute() : switcher.route }}"
				data-target="#{{ switcher._id }}"
				aria-controls="{{ switcher._id }}"
				role="tab"
			>
				{{ switcher.label }}
			</a>
		</li>
	</ul>
	<h5
		ng-repeat="switcher in ins.switchers"
		ng-show="ins.activeSwitcherId == switcher._id"
		ng-bind="switcher.info"
		class="text-info"
	></h5>
</div>
<div id="myImgCropModal">
	<my-modal ins="myModal" slide-in-from-left="true">
		<my-modal-header>
			<br />
			<div id="modalHeader" ng-show="selectedFile">
				<div>
					<div class="myBtnsGroupCenter">
						<my-btn btn-class="[['btn-info']]" hard-data="{ label_0_0: ['imperatives', 23] }" on-click="onZoomInClick()"></my-btn>
						<my-btn btn-class="[['btn-info']]" hard-data="{ label_0_0: ['imperatives', 24] }" on-click="onZoomOutClick()"></my-btn>
						<my-btn btn-class="[['btn-info']]" hard-data="{ label_0_0: ['imperatives', 22] }" on-click="onRotateClick()"></my-btn>
						<my-btn btn-class="[['btn-info']]" hard-data="{ label_0_0: ['imperatives', 10] }" on-click="onResetClick()"></my-btn>
						<my-btn ng-if="mode == 'crop'" btn-class="[['btn-default']]" hard-data="{ label_0_0: ['labels', 25] }" on-click="onSwitchModeClick()"></my-btn>
						<my-btn ng-if="mode == 'move'" btn-class="[['btn-default']]" hard-data="{ label_0_0: ['labels', 26] }" on-click="onSwitchModeClick()"></my-btn>
					</div>
				</div>
			</div>
		</my-modal-header>
		<my-modal-body>
			<div id="alertContainer" ng-show="!selectedFile && !loader.isLoading">
				<my-alert ctrl-class="'alert-warning'" hard-data="{ message: ['imperatives', 27] }"></my-alert>
			</div>
			<my-loader abs-centered="true" ng-show="loader.isLoading"></my-loader>
			<div id="cropImgContainer"><img id="cropImg" ng-show="!loader.isLoading"></div>
		</my-modal-body>
		<my-modal-footer>
			<div class="myBtnsGroupCenter">
				<my-btn
					btn-class="[['btn-info']]"
					hard-data="{ label_0_0: ['imperatives', 9] }"
					on-click="onBrowseClick()"
				></my-btn>
	        	<my-btn
	        		btn-class="[['btn-primary']]"
	        		hard-data="{ label_0_0: ['imperatives', 6] }"
	        		on-click="myModal.accept()"
	        	></my-btn>
	        	<my-btn
	        		btn-class="[['btn-default']]"
	        		hard-data="{ label_0_0: ['imperatives', 2] }"
	        		on-click="myModal.dismiss()"
	        	></my-btn>
			</div>
		</my-modal-footer>
	</my-modal>
	<input
		id="cropInput"
		name="file"
		type="file"
		onchange="angular.element(this).scope().onFileSelected(event)"
	/>
</div>
<div id="myModal">
    <div
        id="{{ ins.id }}"
        class="myModal modal fade"
        ng-class="slideInFromLeft ? 'modalSlideInFromLeft' : ''"
        tabindex="-1"
        role="dialog"
        my-directive
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="modal-title">{{ ins.title + ' ...' }}</p>
                    <div ng-transclude="header"></div>
                </div>
                <div class="modal-body">
                    <div ng-transclude="body"></div>
                </div>
                <div class="modal-footer">
                    <div ng-transclude="footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myStandardModal">
    <my-modal ins="ins">
        <my-modal-body class="responsiveImgAndDesc">
            <div ng-show="ins.img"><img ng-src="{{ ins.img }}" /></div>
            <div><p ng-bind="ins.message"></p></div>
        </my-modal-body>
        <my-modal-footer>
            <div class="myBtnsGroupCenter">
                <my-btn
                    ng-if="['info'].indexOf(type) > -1"
                    btn-class="[['btn-info']]"
                    hard-data="{ label_0_0: ['imperatives', 0] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirm'].indexOf(type) > -1"
                    btn-class="[['btn-primary']]"
                    hard-data="{ label_0_0: ['imperatives', 7] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirmDanger'].indexOf(type) > -1"
                    btn-class="[['btn-danger']]"
                    hard-data="{ label_0_0: ['imperatives', 7] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirm', 'confirmDanger'].indexOf(type) > -1"
                    btn-class="[['btn-default']]"
                    hard-data="{ label_0_0: ['imperatives', 2] }"
                    on-click="ins.dismiss()"
                ></my-btn>
            </div>
        </my-modal-footer>
    </my-modal>
</div>
<div
	id="mySrc"
	ng-mouseenter="onMouseEnter()"
	ng-mouseleave="onMouseLeave()"
>
	<my-loader ng-show="ins.loader.isLoading" abs-centered="true"></my-loader>
	<div ng-class="{ transparent: ins.loader.isLoading }">
		<a
			ng-href="{{ ins.href }}"
			ng-click="ins.onClick()"
			ng-class="!ins.href && !ins.onClick ? 'linkDisabled' : ''"
			target="{{ hrefTarget ? hrefTarget : '_top' }}"
		>
			<div ng-show="type == 'img'" class="imgContainer" ng-class="{ isSelected: ins.isSelected }">
				<img ng-src="{{ ins.url }}">
			</div>
		</a>
		<p ng-show="ins.label" ng-bind="ins.label" class="srcLabel truncated"></p>
		<div class="srcCtrls" ng-if="srcCtrlsVisible">
			<my-elem-selector ng-show="isSelectable()" is-selected="ins.isSelected"></my-elem-selector>
			<my-context-menu ng-show="contextMenu" ins="contextMenu"></my-context-menu>
		</div>
	</div>
</div>
<div id="mySrcSlides">
	<ol class="carousel-indicators" ng-if="mySrcCollection.collection.length > 1">
		<li
			ng-repeat="switcher in mySwitchable.switchers"
			ng-click="switcher.activate()"
			data-target="#myCarousel"
			data-slide-to="{{ $index }}"
			ng-class="{ active: switcher._id == mySwitchable.activeSwitcherId }"
		></li>
	</ol>
	<div id="myCarousel" class="carousel" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div
				ng-repeat="switcher in mySwitchable.switchers"
				ng-show="switcher._id == mySwitchable.activeSwitcherId"
			>
				<my-src
					ins="mySrcCollection.collection[$index]"
					type="{{ srcType }}"
					href-target="_blank"
				></my-src>
			</div>
			<div class="carousel-caption"></div>
		</div>
		<div ng-if="mySrcCollection.collection.length > 1">
			<a class="left carousel-control" role="button" ng-click="mySwitchable.activateSwitcher('prev')">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" role="button" ng-click="mySwitchable.activateSwitcher('next')">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>
<div id="mySrcThumbs" class="no_selection">
	<div id="contextMenuContainer">
		<my-context-menu
			ng-show="mainContextMenu"
			ins="mainContextMenu"
		></my-context-menu>
	</div>
	<div ng-hide="srcThumbsCollection.loader.isLoading">
		<div id="allSrcsContainer">
			<div
				class="singleSrcContainer"
				ng-repeat="src in srcThumbsCollection.collection"
			>
				<my-src
					ins="src"
					type="{{ srcType }}"
					is-selectable="isSrcSelectable()"
					context-menu-conf="srcContextMenuConf"
				></my-src>
			</div>
		</div>
		<div class="myBtnsGroupCenter" ng-show="srcThumbsCollection.collection.length == 0">
			<my-alert ctrl-class="'alert-warning'" hard-data="{ message: ['status', 2] }"></my-alert>
		</div>
	</div>
	<my-loader abs-centered="true" ng-show="srcThumbsCollection.loader.isLoading"></my-loader>
	<my-modal ins="srcSlidesModal" slide-in-from-left="true">
		<my-modal-body>
			<my-src-slides my-src-collection="srcSlidesCollection" src-type="{{ srcType }}"></my-src-slides>
		</my-modal-body>
		<my-modal-footer>
			<div class="myBtnsGroupCenter">
				<my-btn
					btn-class="[['btn-default']]"
					hard-data="{ label_0_0: ['imperatives', 39] }"
					on-click="srcSlidesModal.dismiss()"
				></my-btn>
			</div>
		</my-modal-footer>
	</my-modal>
</div>
<div id="myLabel">
	<label
		ng-class="cssClass"
		ng-show="text"
		ng-bind="text"
		my-directive
	></label>
</div>