<div id="myStandardModal">
    <my-modal ins="ins">
        <my-modal-body class="responsiveImgAndDesc">
            <div ng-show="ins.img"><img ng-src="{{ ins.img }}" /></div>
            <div><p ng-bind="ins.message"></p></div>
        </my-modal-body>
        <my-modal-footer>
            <div class="myBtnsGroupCenter">
                <my-btn
                    ng-if="['info'].indexOf(type) > -1"
                    btn-class="[['btn-info']]"
                    hard-data="{ label_0_0: ['imperatives', 0] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirm'].indexOf(type) > -1"
                    btn-class="[['btn-primary']]"
                    hard-data="{ label_0_0: ['imperatives', 7] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirmDanger'].indexOf(type) > -1"
                    btn-class="[['btn-danger']]"
                    hard-data="{ label_0_0: ['imperatives', 7] }"
                    on-click="ins.accept()"
                ></my-btn>
                <my-btn
                    ng-if="['confirm', 'confirmDanger'].indexOf(type) > -1"
                    btn-class="[['btn-default']]"
                    hard-data="{ label_0_0: ['imperatives', 2] }"
                    on-click="ins.dismiss()"
                ></my-btn>
            </div>
        </my-modal-footer>
    </my-modal>
</div>