<div class="auctions">
	<my-collection-browser ins="collectionBrowser" no-scroll-top-btn="ctrlId == 'ItemAuctions'">
		<elems>
			<my-collection-elem
				ng-repeat="auction in collectionBrowser.collection"
				data="auction"
				context-menu-conf="elemContextMenuConf"
				is-selectable="ctrlId == 'ItemAuctions' && apiData.item._isOwn()"
			>
				<title-section>
					<a ui-sref="main.auction({ id: auction._id })">#{{ collectionBrowser.getElemNumber($index) }} | {{ hardData.phrases[120] }} #{{ auction.number }}</a>
				</title-section>
				<avatar-section ng-if="ctrlId == 'UserAuctions'">
					<item-avatar item="auction.item"></item-avatar>
				</avatar-section>
				<info-section>
					<div>
						<span ng-bind="hardData.phrases[59]"></span>
						<span>{{ auction.pastSinceAdded + ' ' + hardData.phrases[139] }}</span>
						<span>({{ auction.formattedDateAdded }})</span>
					</div>
					<div>
						<span>{{ hardData.phrases[71] }}:</span>
						<span>{{ auction.subscribers.length }}</span>
					</div>
				</info-section>
			</my-collection-elem>
		</elems>
	</my-collection-browser>
</div>