.upgradeForm {

	.myForm {

		> div {

			#formSection {

				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;

				> div {

					flex-grow: 1;
					max-width: 300px;
					margin: 5px;
				}
			}
		}
	}
}