.myCollectionElem {

	margin: 10px auto;
	border: 2px solid transparent;
	border-radius: 5px;
	&.isSelected { border: 2px solid; }

	.panel-default { border: 0 !important; }
	.panel-heading {}

	#bodySection {

		display: flex;
		justify-content: center;

		@media only screen and (max-width: 599px) { flex-flow: row wrap; }

		#actionSection {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			> * { margin: 0 0 10px 0; }
		}

		#mainSection {

			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row wrap;

			#infoSection {
				text-align: center;
				font-size: 14px;
				margin: 5px 10px 5px 10px;
				p { margin: 0; }
			}

			#avatarSection {
				.mySrc {
					margin: 5px 10px 5px 10px;
					img { width: 150px; height: 100px; object-fit: cover; }
				}
			}
		}
	}
}